{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/gif" >
    <title>Pharmapedia</title>
</head>
<body>
<h1>Hi This is Pharmapedia search url: pharmapedia.herokuapp.com/medicine?search=Alferon </h1><br>
<center>
<p>other example:
<h2> " pharmapedia.herokuapp.com/medicine?search=Placenta Compositum "</h2></p><br>
<p><h2> " pharmapedia.herokuapp.com/medicine?search=HORSE CHESTNUT and LACTIC ACID, L- and CLAVICEPS PURPUREA SCLEROTIUM and CUPRIC SULFATE and MELILOTU  "</h2></p>
    <div><img src="{% static 'img_20180322_1924356_fxSjk.jpg' %}"  height="2048" width="1200"></div>
</center>
</body>
</html>