{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/gif" >
    <title>Pharmapedia</title>
</head>
<body>
<h1>Hi This is Pharmapedia </h1>
<br> <h3><b>1) for medicine search url:</b> pharmapedia.herokuapp.com/medicine?search=Alferon </h3><br>
<br><h3><b>2)  for store search url:</b> pharmapedia.herokuapp.com/store?search=Alferon;lglt=28.961768,77.658631 </h3><br>
<br> <h3><b>3) for manufacture search url:</b> pharmapedia.herokuapp.com/manufacturer?mft=all  </h3>

<center>   <h3> pharmapedia.herokuapp.com/manufacturer?mft=Ethicon, Inc  </h3></center>

<br>
<br> <h3><b>4) for combination of medicine Banned url</b>: pharmapedia.herokuapp.com/banned </h3>
<br> <h3><b>5) for validation of licence no. url</b>: pharmapedia.herokuapp.com/lic?no=4444 </h3><br>
<br>
<center>
<p>other example:
<h2> " pharmapedia.herokuapp.com/medicine?search=Placenta Compositum "</h2></p><br>
<p><h2> " pharmapedia.herokuapp.com/medicine?search=HORSE CHESTNUT and LACTIC ACID, L- and CLAVICEPS PURPUREA SCLEROTIUM and CUPRIC SULFATE and MELILOTU  "</h2></p>
    <div><img src="{% static 'img_20180322_1924356_fxSjk.jpg' %}"  height="2048" width="1200"></div>
</center>4
</body>
</html>